$breakpoint-xs: 374px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;
$breakpoint-2xl: 1399px;

@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-2xl {
  @media (max-width: $breakpoint-2xl) {
    @content;
  }
}
