.wrapper {
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
}

.topics {
}

.form {
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.search {
  margin: 0 15px;
  width: 400px;
}

.sort {
  max-width: 200px;
}
