.icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: var(--font-hg);
  transition: transform 0.3s;
  color: var(--grey-light-color);
  z-index: 100;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.1);
  }
}
