.wrapper {
  &.margin-dense {
    margin: 10px 0;
  }
  &.margin-normal {
    margin: 5px 0;
  }

  label {
    font-size: var(--font-sm);
    font-weight: 600;
  }
}
.wrapper.read-only {
  .field {
    border-color: var(--grey-light-color);

    .icon {
      color: var(--grey-light-color);
    }

    &:focus-within {
      border-color: var(--grey-light-color);

      .icon {
        color: var(--grey-light-color);
      }
    }
  }
}

.field {
  border: 2px solid var(--grey-bold-color);
  border-radius: 7px;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  &:focus-within {
    border-color: var(--primary-color) !important;

    .icon {
      color: var(--primary-color);
    }
  }

  input {
    padding: 12px 10px;
    width: 100%;
    font-weight: 500;
    font-size: var(--font-md);

    &:read-only {
      color: var(--grey-bold-color);
    }
  }
}

.icon {
  font-size: var(--font-xl);
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 5px;
}
