.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  margin-bottom: 20px;
  position: relative;

  button {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-xl);

    display: flex;
    align-items: center;

    color: var(--grey-bold-color);

    &:hover {
      color: var(--text-color);

      .icon {
        transform: translateX(-3px);
      }
    }

    .icon {
      margin-right: 5px;
      transition: transform 0.4s;
    }
  }
}

.heading {
  text-align: center;
  font-size: var(--font-3xl);
}

.title {
  margin-bottom: 20px;
}

.actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.color-picker {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.color-field {
  // position: relative;
}
.color-input {
  position: relative;

  input {
    border: 2px solid #666666;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    font-size: var(--font-lg);
    max-width: 160px;
    margin-left: 10px;
  }

  .line {
    content: '';
    position: absolute;
    display: block;
    right: 5px;
    top: 50%;
    width: 5px;
    height: 70%;
    border-radius: 3px;
    transform: translateY(-50%);
  }
}

.actions {
  margin-top: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
