@import 'src/themes/GlobalStyles/utils';

.wrapper {
  display: block;
}
.header {
  margin-top: 20px;
}
.heading {
  font-size: var(--font-3xl);
  margin-bottom: 15px;
}

.actions {
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

  @include media-md {
    padding: 10px;
  }
}

.select-actions {
  display: flex;
}

.link-new-note {
  button {
    height: 100%;
  }
  @include media-md {
    margin-right: 15px;
  }
  @include media-xs {
    margin-right: 0;
    margin-bottom: 10px;
    button {
      width: 100%;
    }
  }
}
.form {
  display: flex;
  align-items: stretch;

  @include media-lg {
    justify-content: space-between;
  }

  @include media-md {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  @include media-xs {
    flex-direction: column;
  }
}
.search {
  margin: 0 15px;

  width: 400px;

  // Responsive
  @include media-lg {
    flex: 1;
  }
  @include media-md {
    width: 100%;
    flex: auto;
    order: 3;
    margin: 10px 0;
  }
}
.sort {
  max-width: 200px;
  @include media-xs {
    max-width: 100%;
  }
}

.topics {
  display: flex;
  margin-top: 10px;
}
.topic {
}
