// React markdown editor lite
.rc-md-editor .editor-container .sec-md .input {
  font-size: 1.6rem;
}

.custom-html-style {
  p,
  ol,
  ul,
  code,
  pre,
  table {
    font-size: 1.6rem;
  }
}

// React Mark down
body .wmde-markdown {
  color: inherit;
  min-height: 100px;
  background: transparent;

  font-family: 'Montserrat', sans-serif;

  span.code-line {
    color: var(--white-color);
  }

  .contains-task-list input[type='checkbox'] {
    width: 18px;
    height: 18px;
    transform: translateY(1.1px);
  }

  table {
    width: 100% !important;
    display: table !important;
    table-layout: fixed;
    // overflow-wrap: break-word;
  }

  table tr {
    background-color: var(--main-bg) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    border: none !important;
  }
}

.w-md-editor-text {
  // Remove padding in editor
  code[class*='language-'],
  pre[class*='language-'] {
    line-height: auto !important;
  }
  .wmde-markdown-color {
    pre[class*='language-'] {
      padding: 0 !important;
      margin: 0 !important;
    }
    :not(pre) > code[class*='language-'] {
      padding: 0 !important;
    }
  }
}

// Sweet alert
.swal2-error {
  #swal2-html-container {
    color: var(--error-color);
    font-size: var(--font-xl);
    font-weight: 500;
  }
}

.swal2-container {
  font-size: 1.6rem;
  .swal2-popup {
    font-size: 1.6rem;
  }
}

.swal2-loader {
  $size: 6em;
  width: $size !important;
  height: $size !important;
}
.swal2 {
  &-icon-content {
    width: 100% !important;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-icon-sad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background: var(--white-color) url('../../assets/images/frog-sad.gif') center;
    background-size: cover;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// React colorful
.react-colorful {
  width: 100%;
  .react-colorful__hue,
  .react-colorful__alpha {
    height: 20px;
  }
  .react-colorful__pointer {
    width: 18px !important;
    height: 18px !important;
  }
}
