@import 'src/themes/GlobalStyles/utils';

.wrapper {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    font-size: var(--font-2xl);
  }

  // Responsive
  @include media-md {
    flex-direction: column;
  }
}

.description {
  margin-top: 5px;

  max-width: 75%;

  .text {
    margin-bottom: 10px;
    font-style: italic;
  }

  .created-at {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  align-items: center;

  // Responsive
  @include media-md {
    margin-top: 10px;
  }
}

.notes {
  margin-top: 10px;
}
