@import 'src/themes/GlobalStyles/utils/responsive';

$card-topic-gap: 5px;

.wrapper {
  padding: 20px 15px;
}

.header {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;

  @include media-md {
    flex-direction: column;
  }

  .heading {
    margin-bottom: 0px;
    margin-right: 5px;

    @include media-md {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
}
.chip-item {
  padding: 5px 10px;
  border-radius: 999px;
  background-color: var(--grey-bold-color);
  color: var(--white-color);

  .icon {
    margin-left: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.options {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;

  @include media-sm {
    flex-direction: column;
  }
}
.search {
  flex: 1;
  margin-right: 15px;

  @include media-sm {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: calc(#{$card-topic-gap} * -1) calc(#{$card-topic-gap} * -1);
  height: 300px;
  overflow: auto;
}

.card {
  $spacer-horizontal: 5px;

  margin: 0 $spacer-horizontal;
  margin-bottom: 10px;

  width: calc(50% - #{$spacer-horizontal} * 2);

  @include media-md {
    width: 100%;
  }
}
