$card-topic-gap: 5px;

.wrapper {
  padding: 20px 15px;
}

.header {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
  h3 {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  row-gap: 8px;
}
.chip-item {
  padding: 5px 10px;
  border-radius: 999px;
  background-color: var(--grey-bold-color);
  color: var(--white-color);

  .icon {
    margin-left: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.options {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}
.search {
  border: 2px solid var(--grey-light-color);
  border-radius: 8px;
  flex: 1;
  height: 48px;
  margin-right: 10px;

  label {
    font-size: var(--font-lg);
  }

  input {
    font-size: var(--font-sm);
    border: none;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: calc(#{$card-topic-gap} * -1) calc(#{$card-topic-gap} * -1);
  height: 300px;
  overflow: auto;
}

.card {
  $spacer-horizontal: 5px;

  margin: 0 $spacer-horizontal;
  margin-bottom: 10px;

  width: calc(50% - #{$spacer-horizontal} * 2);
}
