.wrapper {
  width: 100%;
  min-height: 200px;
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--white-color);
  transition: all 0.5s;
  overflow: hidden;

  margin: 7.5px 0;

  &.read-only {
    margin: 0;

    .content {
      height: 100%;
      max-height: 200px;
    }

    &:hover {
      transform: unset;
    }
  }

  &:hover {
    transform: translateY(-3px) scale(1.015);

    .icon-pin {
      display: block;
    }

    .buttons {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
  &:nth-child(2) {
    background-color: #e74c3c;
  }
  &:nth-child(3) {
    background-color: #a55eea;
  }
  &:nth-child(4) {
    background-color: #a5b1c2;
  }
}

.header {
  border-bottom: 1px solid rgb(253, 225, 225);
  &-inner {
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    input {
      $size: 20px;
      width: $size;
      height: $size;
      position: absolute;
      top: 3px;
      left: 3px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 1.2;
  height: 48px;
  flex: 1;
  max-width: 95%;

  label {
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: 100%;
  }
}

.icon-pin {
  cursor: pointer;
  display: none;

  flex-shrink: 0;

  &.active {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }
}

.content {
  width: 100%;
  padding: 10px 20px;
  height: 160px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.actions {
  display: flex;
  align-items: center;
  font-size: 2rem;
  flex-shrink: 0;
  span {
    cursor: pointer;
    display: inline-block;
    &:hover {
      opacity: 0.85;
    }
  }

  .btn-pin {
    margin-left: 5px;
    object-fit: cover;
  }
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 55px;

  .time {
    text-decoration: underline;
  }
}
.buttons {
  display: flex;
  align-items: center;
  transition: opacity 0.5s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  transition-delay: opacity 0.4s, visibility 0.1;

  a {
    margin-right: 8px;
  }
}

.icon {
  font-size: var(--font-lg);
}

.custom-modal {
  width: 100%;
  height: 100%;
}
.custom-overlay {
  padding: 100px;
}
