.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  margin-bottom: 20px;
  h2 {
    text-align: center;
  }
}

.form {
  margin-bottom: 25px;
}

.btn-submit {
  margin-top: 20px;
}

.helper {
  text-align: center;

  a {
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }
}
