.wrapper {
  color: var(--link-color);
  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    color: var(--grey-bold-color);
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}
