@import 'src/themes/GlobalStyles/utils';

.wrapper {
  width: var(--sidebar-width);
  padding: 0 10px;
  min-height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  padding-top: calc(var(--header-height) + 10px);
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  z-index: 5;

  @include media-lg {
    width: 250px;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}
.list {
}
.item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.5s;
  border-radius: 10px;
  color: var(--white-color);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-bold-color);
  }
  &.active {
    background-color: var(--primary-bold-color);
    .icon {
      font-size: 2.1rem;
    }
  }

  @include media-lg {
    flex-direction: row;

    .icon {
      margin-right: 8px;
    }
  }
}

.icon {
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.label {
  transition: all 0.5s;
  max-width: 400px;
}
